/*body {
    background: #2B2E37;
}
*/

#container-logo {
    width: 10em;
    margin: 5em auto;
}

.ang-logo,
.c-logo,
.js-logo {
    width: 10em;
    height: 10em;
    animation: bounceIn 0.6s;
    transform: rotate(0deg) scale(1) translateZ(0);
    transition: all 0.4s cubic-bezier(.8, 1.8, .75, .75);
    cursor: pointer;
}

.git-logo,
.html-logo {
    width: 15em;
    height: 6em;
    animation: bounceIn 0.6s;
    transform: rotate(0deg) scale(1) translateZ(0);
    transition: all 0.4s cubic-bezier(.8, 1.8, .75, .75);
    cursor: pointer;
}

.ang-logo:hover,
.git-logo:hover,
.c-logo:hover,
.js-logo:hover,
.html-logo:hover {
    transform: rotate(10deg) scale(1.1);
}

.bubble {
    fill: #e76853;
}

.icon {
    fill: #fff;
}

@keyframes bounceIn {
    0% {
        opacity: 1;
        transform: scale(.3);
    }
    50% {
        opacity: 1;
        transform: scale(1.05);
    }
    70% {
        opacity: 1;
        transform: scale(.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#nathanHead {
    max-width: 25%;
    border-radius: 100%;
}

.carousel .carousel-item {
    display: none;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
}

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}
